<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Contact manager</span>
        </div>
      </div>
    </div>

    <div id="main-region" class="container">
      <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
    </div>

    <!--This is a static template-->
    <script type="text/template" id="static-template">
      <p>This is text rendered by marionette</p>
    </script>

    <script type="text/template" id="contact-template">
      <p><%- firstName %> <%- lastName %></p>
    </script>



    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>



    <script type="text/javascript">
      //      New up Marionette application
      var ContactManager = new Marionette.Application();

      // Add main region for app to attach to
      ContactManager.addRegions({
        mainRegion: "#main-region"
      });

      // Create a model for our app
      ContactManager.Contact = Backbone.Model.extend({
        defaults: {
          phoneNumber: "No Phone Number!"
        }
      });

      // extend an Item view to our app using a template as defined by id
      ContactManager.ContactView = Marionette.ItemView.extend({
        template: "#contact-template",

        events: {
          "click p" : "alertPhoneNumber"
        },

        alertPhoneNumber: function() {
          alert(this.model.escape("phoneNumber"));
        }
      });

      //start up app
      ContactManager.on("start", function() {

        var alice = new ContactManager.Contact({
          firstName: 'Alice',
          lastName: 'Arten'
        });

        // new up view to pull into app
        var aliceView = new ContactManager.ContactView({
          model: alice
        });

        // show view including merged template within 'mainRegion' defined on app.
        ContactManager.mainRegion.show(aliceView);
      });

      //start the app
      ContactManager.start();
    </script>
  </body>
</html>
