<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Contact manager</span>
        </div>
      </div>
    </div>

    <div id="main-region" class="container">
      <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
    </div>

    <!--This is a static template-->

    <script type="text/template" id="contact-list-item">
      <%- firstName %> <%- lastName %>
    </script>


    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>



    <script type="text/javascript">
      //      New up Marionette application
      var ContactManager = new Marionette.Application();

      // Add main region for app to attach to
      ContactManager.addRegions({
        mainRegion: "#main-region"
      });

      // Create a model for our app
      ContactManager.Contact = Backbone.Model.extend({});

      ContactManager.ContactCollection = Backbone.Collection.extend({
        model: ContactManager.Contact,
        comparator: function(contact) {
          return contact.get('firstName') + " " + contact.get('lastName');
        }
      });


      // extend an Item view to our app using a template as defined by id
      ContactManager.ContactItemView = Marionette.ItemView.extend({
        tagName: 'li',
        template: "#contact-list-item"
      });

      ContactManager.ContactsView = Marionette.CollectionView.extend({
        tagName: 'ul',
        childView: ContactManager.ContactItemView
      });


      //start up app
      ContactManager.on("start", function() {

        var contacts = new ContactManager.ContactCollection([

          {
            firstName: 'Alice',
            lastName: 'Tampen'
          },
          {
            firstName: 'Bob',
            lastName: 'Arten'
          },
          {
            firstName: 'Alice',
            lastName: 'Artsy'
          },
          {
            firstName: 'Alice',
            lastName: 'Arten'
          },
          {
            firstName: 'Charlie',
            lastName: 'Campbell'
          },
          {
            firstName: 'Alice',
            lastName: 'smith'
          }
        ]);

        // new up view to pull into app
        var contactsListView = new ContactManager.ContactsView({
          collection: contacts
        });

        // show view including merged template within 'mainRegion' defined on app.
        ContactManager.mainRegion.show(contactsListView);
      });

      //start the app
      ContactManager.start();
    </script>
  </body>
</html>
